<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ap.transmission.btc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:banner="@drawable/banner"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DownloadTorrentActivity"
            android:label="@string/download_with_transmission"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="magnet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-bittorrent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="ftp" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="ftps" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="smb" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="smbs" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:scheme="ftp" />
                <data
                    android:host="*"
                    android:scheme="ftps" />
                <data
                    android:host="*"
                    android:scheme="smb" />
                <data
                    android:host="*"
                    android:scheme="smbs" />
                <data android:pathPattern=".*\\.torrent" />
                <data android:pathPattern=".*\\.TORRENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="ftp" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="ftps" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="smb" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="smbs" />
                <data android:pathPattern=".*\\.torrent" />
                <data android:pathPattern=".*\\.TORRENT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.OpenTorrentActivity"
            android:label="@string/open_with_transmission"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="magnet" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/x-bittorrent" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="ftp" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="ftps" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="smb" />
                <data
                    android:host="*"
                    android:mimeType="application/x-bittorrent"
                    android:scheme="smbs" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:scheme="ftp" />
                <data
                    android:host="*"
                    android:scheme="ftps" />
                <data
                    android:host="*"
                    android:scheme="smb" />
                <data
                    android:host="*"
                    android:scheme="smbs" />
                <data android:pathPattern=".*\\.torrent" />
                <data android:pathPattern=".*\\.TORRENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="content" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="ftp" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="ftps" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="smb" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:scheme="smbs" />
                <data android:pathPattern=".*\\.torrent" />
                <data android:pathPattern=".*\\.TORRENT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SelectFileActivity"
            android:theme="@style/AppTheme" />

        <service android:name=".services.TransmissionService" />

        <receiver
            android:name=".receivers.BootOrUpdateReceiver"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>